.badge-label {
    -fx-background-color: #0460b1;
    -fx-text-fill: white;
    -fx-background-insets: 2px;
    -fx-padding: 2px 5px;
    -fx-background-radius: 50%;
}

.badge {
    -fx-alignment: center;
}